header {
	background-color: rgba(255,255,255,1);
	color: black;
	text-align: center;
	width:100%;
	height:5%;
	top:0px;
	left:0px;
}
h1{

	font-style: 16px;
	font-size: 10vh;
}
.book {
	margin-top: 7%;
	display:grid;
	grid-template-areas: 'text text text text options';
}
.text {
	grid-area: text;
	font-size: 5vh;
}
<<<<<<< HEAD
.options {
	grid-area: options;
}
=======
>>>>>>> fb0cc7461c460369a8a11f74237f283365ba41d9
footer {
   text-align: center;
   position:relative;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background-color: rgba(255,255,255,.5);
}
img {
	width:50%;
	margin-left:25%;
	margin-right:25%;
}
@media screen and (max-width: 700px) {
	header{
		background-color: white;
		position: fixed;
		height:20%;
	}
	.book{
	display:grid;
	grid-template-areas: '. . . options '
						 'text text text text';
	}
	.text{
		padding-top: 25%;
		font-size:5vh;
	}
	.options {
		margin-left:40%;
		margin-right: 40%;
		margin-bottom: 20%;
		position:fixed;
	}
	footer{
		position:relative;
	}
	img{
		position:relative;
		width: 25%;
	}
}